:root {
    --accent: #D55E2D;
    --light: #FFFFFF;
    --gray: #CACBD5;
    --dark: #3D4252;
}

body {
    margin: 0;
}

.header {
    padding: 0 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.links {
    padding: 0;
    display: flex;
    gap: 1rem;
    list-style: none;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    padding: 20vh 15vw;
}

.announcement-container {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.announcement-container .title {
    font-size: 2.5rem;
    font-weight: 800;
}

.announcement-container button.sign-up {
    padding: 0.2rem 1.3rem;
    font-weight: 800;
}

.hero-section .picture {
    min-width: 35vw;
    display: flex;
    align-items: center;
}