:root {
    --accent: #D96C9F;
    --light: #F2F2F2;
    --gray: #BFBFBF;
    --dark: #20788C;
}

body {
    margin: 0;
}

.header {
    padding: 0 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.links {
    padding: 0;
    display: flex;
    gap: 1rem;
    list-style: none;
}